#!/usr/bin/env python

PACKAGE = "birl_config"

from dynamic_reconfigure.parameter_generator_catkin import (
    ParameterGenerator,
    bool_t,
    str_t,
    int_t,
)

gen = ParameterGenerator()
hmm_impl = [
    "hmmlearn",
] 
group_i = gen.add_group("hmmlearn")
group_i.add(
    name='use_hmmlearn', 
    paramtype=bool_t, 
    level=0, 
    description='',
    default=False,
)
group_i.add(
    name='hidden_state_amount', 
    paramtype=str_t, 
    level=0, 
    description='Support integer range, e.g. "2-5" means to try 2,3,4 and 5.',
    default='1-5',
)

group_i.add(
    name='max_EM_iteration', 
    paramtype=int_t, 
    level=0, 
    description='',
    default=1000,
    min=1000,
)


hmm_type = [
    "GaussianHMM",
    "GMMHMM",
] 

for j in hmm_type:
    group_j = group_i.add_group(j)
    group_j.add(
        name='use_%s'%j, 
        paramtype=bool_t, 
        level=0, 
        description='',
        default=False,
    )


exit(gen.generate(PACKAGE, "birl_config_hmmlearn", "hmmlearn"))


